In [17]:
import shutil
import sys
import os
from pathlib import Path
import json
import re

In [18]:
root_path = Path('/home/jianghui/dataset/Hierachal-MovieNet/')
img_root_path = Path(root_path, 'all/img/')
shot_root_path = Path(root_path, 'all/shot/')
scene_root_path = Path(root_path, 'all/scene/')
subtitle_root_path = Path(root_path, 'all/subtitle/')
synopsis_root_path = Path(root_path, 'all/synopsis/')
cast_root_path = Path(root_path, 'all/cast/')
subtitle_img_root_path = Path(root_path, 'all/subtitle_img/')
names = locals()

In [19]:
dest_path = Path('/home/jianghui/dataset/VideoReorder-MovieNet/')
dest_train_path = Path(dest_path, 'train/')

In [20]:
tt_list = []
with open(Path(root_path, 'movie_id_list'), 'r') as f_tt_list:
    for tt_line in f_tt_list:
        tt_list.append(tt_line.replace('\n', ''))

In [21]:
def open_json(types:str, tt_id):
    names[f'{types}_path'] = Path(names[f'{types}_root_path'], f'{tt_id}.json')
    with open(names[f'{types}_path'], 'r') as names[f'f_{types}']:
        names[f'{types}_json'] = json.load(names[f'f_{types}'])
    return names[f'{types}_json']

def save_json(types:str, tt_id):
    names[f'{types}_path'] = Path(names[f'{types}_root_path'], f'{tt_id}.json')
    with open(names[f'{types}_path'], 'w') as names[f'f_{types}']:
        json.dump(names[f'{types}_json'], names[f'f_{types}'], indent=2)

In [31]:
DEBUG = False

img_group_idx = 0
total_num = 0

for tt_id in (tt_list if not DEBUG else ['tt0047396']):
    print(f'processing {tt_id} ...')
    shot_json = open_json('shot', tt_id)

    img_num = 0
    img_list = []

    # gain img select in shot
    img_select_in_shot = []
    for shot_ele in shot_json:
        if shot_ele['subtitle_id'] == []:
            subtitle_num_in_shot = 0
        else:
            subtitle_num_in_shot = shot_ele['subtitle_id'][1] - shot_ele['subtitle_id'][0] + 1
            if subtitle_num_in_shot > 3: subtitle_num_in_shot = 3

        img_select_in_shot.append(subtitle_num_in_shot)

    img_list = []
    img_list_ele = []
    shot_num = len(shot_json)

    i = 0
    while i < shot_num - 2:

        if img_select_in_shot[i] == 0: 
            i += 1
            continue
        img_num = 0
        
        j = i + 2
        tmp_rate = sum(img_select_in_shot[i:j+1]) / 9.0
        if tmp_rate < 0.67:
            i += 1
            continue

        j += 1
        last_j = 0
        while j < shot_num:

            tmp_rate = sum(img_select_in_shot[i:j+1]) / (3 * (j+1-i))
            if tmp_rate < 0.67:
                last_j = j - 1
                break
            
            if j+1-i > 7:
                last_j = j - 1
                break

            j += 1
        if last_j == 0: last_j = shot_num - 1

        img_list_ele = [i, last_j]
        img_list.append(img_list_ele)
        
        i = j

    if DEBUG:
        print("img_list is \n",img_list)

    total_num += len(img_list)
    print(f'{tt_id} has group {len(img_list)} and total_num is {total_num}')

    for idx, img_list_ele in enumerate(img_list):
        file_name = img_group_idx
        img_group_idx += 1
        file_path = Path(dest_train_path, str(file_name))
        Path.mkdir(file_path, exist_ok=True)

        img_num = (img_list_ele[1] + 1 - img_list_ele[0]) * 3

        # generate img
        for i, shot_id in enumerate(range(img_list_ele[0], img_list_ele[1] + 1)):
            
            # generate img old name and new name
            for j in range(3):
                old_img_name = f'{shot_id}_{j}.jpg'
                old_img_path = Path(img_root_path, tt_id, old_img_name)
                new_img_name = f'{file_name}_{i*3 + j}.jpg'
                new_img_path = Path(file_path, new_img_name)
                shutil.copyfile(old_img_path, new_img_path)

        old_subtitle_file_path = Path(subtitle_root_path, tt_id + ".json")
        with open(old_subtitle_file_path, 'r') as f_old_subtitle_file:
            old_subtitle_json = json.load(f_old_subtitle_file)

        # generate and save subtitle.json
        new_subtitle_json = [[] for i in range(img_num)]
        for shot_id_idx, shot_id in enumerate(range(img_list_ele[0], img_list_ele[1] + 1)):
            if shot_json[shot_id]["subtitle_id"] == [] : continue
            subtitle_list_in_shot = [old_subtitle_json[i]["sentence"] for i in range(shot_json[shot_id]["subtitle_id"][0], shot_json[shot_id]["subtitle_id"][1]+1)]
            new_subtitle_json[shot_id_idx * 3 + 0] = subtitle_list_in_shot[:len(subtitle_list_in_shot)//3 + (len(subtitle_list_in_shot) % 3 == 2) ]
            new_subtitle_json[shot_id_idx * 3 + 1] = subtitle_list_in_shot[len(subtitle_list_in_shot)//3 + (len(subtitle_list_in_shot) % 3 == 2)  : len(subtitle_list_in_shot)//3*2 + (len(subtitle_list_in_shot) % 3 == 1) + (len(subtitle_list_in_shot) % 3 == 2) ]
            new_subtitle_json[shot_id_idx * 3 + 2] = subtitle_list_in_shot[len(subtitle_list_in_shot)//3*2 + (len(subtitle_list_in_shot) % 3 == 1) + (len(subtitle_list_in_shot) % 3 == 2) : ]

        new_subtitle_file_path = Path(file_path, "subtitle.json")
        with open(new_subtitle_file_path, 'w') as f_new_subtitle_file:
            json.dump(new_subtitle_json, f_new_subtitle_file, indent=2)

        # generate and save info.json
        info_json = {}
        info_json["tt_id"] = tt_id
        info_json["img_id"] = [i*3 + j for i, shot_id in enumerate(range(img_list_ele[1] + 1 - img_list_ele[0])) for j in range(3)]
        info_json["shot_id"] = [shot_json[i]["shot_id"] for i in range(img_list_ele[0], img_list_ele[1] + 1) for j in range(3)]
        info_json["scene_id"] = [shot_json[i]["scene_id"] for i in range(img_list_ele[0], img_list_ele[1] + 1) for j in range(3)]

        info_json_path = Path(file_path, "info.json")
        with open(info_json_path, 'w') as f_info_json:
            json.dump(info_json, f_info_json, indent=2)

processing tt0047396 ...
tt0047396 has group 50 and total_num is 50
processing tt0048545 ...
tt0048545 has group 66 and total_num is 116
processing tt0049730 ...
tt0049730 has group 54 and total_num is 170
processing tt0052357 ...
tt0052357 has group 71 and total_num is 241
processing tt0056923 ...
tt0056923 has group 83 and total_num is 324
processing tt0061418 ...
tt0061418 has group 62 and total_num is 386
processing tt0061722 ...
tt0061722 has group 42 and total_num is 428
processing tt0062622 ...
tt0062622 has group 22 and total_num is 450
processing tt0063442 ...
tt0063442 has group 57 and total_num is 507
processing tt0065214 ...
tt0065214 has group 45 and total_num is 552
processing tt0065724 ...
tt0065724 has group 57 and total_num is 609
processing tt0066026 ...
tt0066026 has group 77 and total_num is 686
processing tt0067116 ...
tt0067116 has group 37 and total_num is 723
processing tt0068646 ...
tt0068646 has group 71 and total_num is 794
processing tt0070735 ...
tt0070735 has group 91 and total_num is 885
processing tt0071315 ...
tt0071315 has group 46 and total_num is 931
processing tt0071562 ...
tt0071562 has group 83 and total_num is 1014
processing tt0072684 ...
tt0072684 has group 63 and total_num is 1077
processing tt0073195 ...
tt0073195 has group 35 and total_num is 1112
processing tt0074285 ...
tt0074285 has group 39 and total_num is 1151
processing tt0075148 ...
tt0075148 has group 74 and total_num is 1225
processing tt0076759 ...
tt0076759 has group 65 and total_num is 1290
processing tt0077405 ...
tt0077405 has group 21 and total_num is 1311
processing tt0078788 ...
tt0078788 has group 107 and total_num is 1418
processing tt0078841 ...
tt0078841 has group 68 and total_num is 1486
processing tt0079417 ...
tt0079417 has group 77 and total_num is 1563
processing tt0080684 ...
tt0080684 has group 64 and total_num is 1627
processing tt0081505 ...
tt0081505 has group 41 and total_num is 1668
processing tt0082089 ...
tt0082089 has group 40 and total_num is 1708
processing tt0082971 ...
tt0082971 has group 55 and total_num is 1763
processing tt0083658 ...
tt0083658 has group 39 and total_num is 1802
processing tt0083929 ...
tt0083929 has group 64 and total_num is 1866
processing tt0084726 ...
tt0084726 has group 55 and total_num is 1921
processing tt0086190 ...
tt0086190 has group 44 and total_num is 1965
processing tt0086250 ...
tt0086250 has group 124 and total_num is 2089
processing tt0086879 ...
tt0086879 has group 118 and total_num is 2207
processing tt0087332 ...
tt0087332 has group 77 and total_num is 2284
processing tt0088847 ...
tt0088847 has group 58 and total_num is 2342
processing tt0088944 ...
tt0088944 has group 13 and total_num is 2355
processing tt0090022 ...
tt0090022 has group 48 and total_num is 2403
processing tt0090605 ...
tt0090605 has group 76 and total_num is 2479
processing tt0090756 ...
tt0090756 has group 57 and total_num is 2536
processing tt0091042 ...
tt0091042 has group 67 and total_num is 2603
processing tt0093565 ...
tt0093565 has group 67 and total_num is 2670
processing tt0093779 ...
tt0093779 has group 100 and total_num is 2770
processing tt0094737 ...
tt0094737 has group 92 and total_num is 2862
processing tt0095016 ...
tt0095016 has group 81 and total_num is 2943
processing tt0096320 ...
tt0096320 has group 87 and total_num is 3030
processing tt0096895 ...
tt0096895 has group 64 and total_num is 3094
processing tt0097428 ...
tt0097428 has group 89 and total_num is 3183
processing tt0097576 ...
tt0097576 has group 77 and total_num is 3260
processing tt0098724 ...
tt0098724 has group 56 and total_num is 3316
processing tt0099423 ...
tt0099423 has group 122 and total_num is 3438
processing tt0099487 ...
tt0099487 has group 51 and total_num is 3489
processing tt0099674 ...
tt0099674 has group 70 and total_num is 3559
processing tt0099685 ...
tt0099685 has group 135 and total_num is 3694
processing tt0100157 ...
tt0100157 has group 57 and total_num is 3751
processing tt0100405 ...
tt0100405 has group 92 and total_num is 3843
processing tt0100802 ...
tt0100802 has group 42 and total_num is 3885
processing tt0101272 ...
tt0101272 has group 54 and total_num is 3939
processing tt0103074 ...
tt0103074 has group 110 and total_num is 4049
processing tt0103772 ...
tt0103772 has group 68 and total_num is 4117
processing tt0103776 ...
tt0103776 has group 53 and total_num is 4170
processing tt0104257 ...
tt0104257 has group 152 and total_num is 4322
processing tt0104348 ...
tt0104348 has group 96 and total_num is 4418
processing tt0105236 ...
tt0105236 has group 60 and total_num is 4478
processing tt0105695 ...
tt0105695 has group 56 and total_num is 4534
processing tt0107290 ...
tt0107290 has group 56 and total_num is 4590
processing tt0107808 ...
tt0107808 has group 61 and total_num is 4651
processing tt0107822 ...
tt0107822 has group 42 and total_num is 4693
processing tt0108160 ...
tt0108160 has group 71 and total_num is 4764
processing tt0108330 ...
tt0108330 has group 69 and total_num is 4833
processing tt0108399 ...
tt0108399 has group 110 and total_num is 4943
processing tt0109686 ...
tt0109686 has group 109 and total_num is 5052
processing tt0110074 ...
tt0110074 has group 85 and total_num is 5137
processing tt0112641 ...
tt0112641 has group 188 and total_num is 5325
processing tt0113243 ...
tt0113243 has group 54 and total_num is 5379
processing tt0113277 ...
tt0113277 has group 81 and total_num is 5460
processing tt0114369 ...
tt0114369 has group 100 and total_num is 5560
processing tt0114388 ...
tt0114388 has group 73 and total_num is 5633
processing tt0114558 ...
tt0114558 has group 74 and total_num is 5707
processing tt0114814 ...
tt0114814 has group 66 and total_num is 5773
processing tt0115759 ...
tt0115759 has group 53 and total_num is 5826
processing tt0115798 ...
tt0115798 has group 36 and total_num is 5862
processing tt0116209 ...
tt0116209 has group 81 and total_num is 5943
processing tt0116367 ...
tt0116367 has group 48 and total_num is 5991
processing tt0116629 ...
tt0116629 has group 55 and total_num is 6046
processing tt0117060 ...
tt0117060 has group 44 and total_num is 6090
processing tt0117500 ...
tt0117500 has group 85 and total_num is 6175
processing tt0117951 ...
tt0117951 has group 86 and total_num is 6261
processing tt0118571 ...
tt0118571 has group 63 and total_num is 6324
processing tt0118636 ...
tt0118636 has group 54 and total_num is 6378
processing tt0118715 ...
tt0118715 has group 111 and total_num is 6489
processing tt0118929 ...
tt0118929 has group 50 and total_num is 6539
processing tt0118971 ...
tt0118971 has group 151 and total_num is 6690
processing tt0119094 ...
tt0119094 has group 34 and total_num is 6724
processing tt0119396 ...
tt0119396 has group 109 and total_num is 6833
processing tt0119488 ...
tt0119488 has group 101 and total_num is 6934
processing tt0119528 ...
tt0119528 has group 90 and total_num is 7024
processing tt0119567 ...
tt0119567 has group 47 and total_num is 7071
processing tt0119822 ...
tt0119822 has group 84 and total_num is 7155
processing tt0120660 ...
tt0120660 has group 61 and total_num is 7216
processing tt0120689 ...
tt0120689 has group 105 and total_num is 7321
processing tt0120735 ...
tt0120735 has group 85 and total_num is 7406
processing tt0120755 ...
tt0120755 has group 44 and total_num is 7450
processing tt0120780 ...
tt0120780 has group 107 and total_num is 7557
processing tt0120815 ...
tt0120815 has group 63 and total_num is 7620
processing tt0120890 ...
tt0120890 has group 69 and total_num is 7689
processing tt0120902 ...
tt0120902 has group 42 and total_num is 7731
processing tt0120915 ...
tt0120915 has group 88 and total_num is 7819
processing tt0121765 ...
tt0121765 has group 68 and total_num is 7887
processing tt0122690 ...
tt0122690 has group 42 and total_num is 7929
processing tt0123755 ...
tt0123755 has group 47 and total_num is 7976
processing tt0126886 ...
tt0126886 has group 94 and total_num is 8070
processing tt0128445 ...
tt0128445 has group 84 and total_num is 8154
processing tt0129387 ...
tt0129387 has group 105 and total_num is 8259
processing tt0134119 ...
tt0134119 has group 109 and total_num is 8368
processing tt0137523 ...
tt0137523 has group 111 and total_num is 8479
processing tt0139654 ...
tt0139654 has group 145 and total_num is 8624
processing tt0142688 ...
tt0142688 has group 55 and total_num is 8679
processing tt0145487 ...
tt0145487 has group 64 and total_num is 8743
processing tt0159365 ...
tt0159365 has group 83 and total_num is 8826
processing tt0163025 ...
tt0163025 has group 41 and total_num is 8867
processing tt0164052 ...
tt0164052 has group 44 and total_num is 8911
processing tt0167190 ...
tt0167190 has group 66 and total_num is 8977
processing tt0167404 ...
tt0167404 has group 50 and total_num is 9027
processing tt0169547 ...
tt0169547 has group 81 and total_num is 9108
processing tt0172495 ...
tt0172495 has group 63 and total_num is 9171
processing tt0180073 ...
tt0180073 has group 88 and total_num is 9259
processing tt0183649 ...
tt0183649 has group 77 and total_num is 9336
processing tt0186151 ...
tt0186151 has group 85 and total_num is 9421
processing tt0187393 ...
tt0187393 has group 62 and total_num is 9483
processing tt0190332 ...
tt0190332 has group 46 and total_num is 9529
processing tt0208092 ...
tt0208092 has group 72 and total_num is 9601
processing tt0209144 ...
tt0209144 has group 56 and total_num is 9657
processing tt0209958 ...
tt0209958 has group 47 and total_num is 9704
processing tt0213149 ...
tt0213149 has group 128 and total_num is 9832
processing tt0217505 ...
tt0217505 has group 85 and total_num is 9917
processing tt0244244 ...
tt0244244 has group 42 and total_num is 9959
processing tt0246578 ...
tt0246578 has group 52 and total_num is 10011
processing tt0258463 ...
tt0258463 has group 68 and total_num is 10079
processing tt0264395 ...
tt0264395 has group 91 and total_num is 10170
processing tt0281358 ...
tt0281358 has group 15 and total_num is 10185
processing tt0286106 ...
tt0286106 has group 41 and total_num is 10226
processing tt0288477 ...
tt0288477 has group 12 and total_num is 10238
processing tt0311113 ...
tt0311113 has group 56 and total_num is 10294
processing tt0315327 ...
tt0315327 has group 88 and total_num is 10382
processing tt0319061 ...
tt0319061 has group 68 and total_num is 10450
processing tt0329101 ...
tt0329101 has group 60 and total_num is 10510
processing tt0338013 ...
tt0338013 has group 117 and total_num is 10627
processing tt0343818 ...
tt0343818 has group 44 and total_num is 10671
processing tt0349903 ...
tt0349903 has group 76 and total_num is 10747
processing tt0361748 ...
tt0361748 has group 57 and total_num is 10804
processing tt0363771 ...
tt0363771 has group 22 and total_num is 10826
processing tt0369339 ...
tt0369339 has group 59 and total_num is 10885
processing tt0370263 ...
tt0370263 has group 19 and total_num is 10904
processing tt0372183 ...
tt0372183 has group 60 and total_num is 10964
processing tt0379786 ...
tt0379786 has group 71 and total_num is 11035
processing tt0383574 ...
tt0383574 has group 63 and total_num is 11098
processing tt0407887 ...
tt0407887 has group 105 and total_num is 11203
processing tt0408236 ...
tt0408236 has group 72 and total_num is 11275
processing tt0408790 ...
tt0408790 has group 54 and total_num is 11329
processing tt0409459 ...
tt0409459 has group 123 and total_num is 11452
processing tt0421715 ...
tt0421715 has group 83 and total_num is 11535
processing tt0430357 ...
tt0430357 has group 58 and total_num is 11593
processing tt0434409 ...
tt0434409 has group 113 and total_num is 11706
processing tt0435705 ...
tt0435705 has group 54 and total_num is 11760
processing tt0440963 ...
tt0440963 has group 49 and total_num is 11809
processing tt0448157 ...
tt0448157 has group 51 and total_num is 11860
processing tt0454876 ...
tt0454876 has group 54 and total_num is 11914
processing tt0467200 ...
tt0467200 has group 67 and total_num is 11981
processing tt0467406 ...
tt0467406 has group 122 and total_num is 12103
processing tt0479884 ...
tt0479884 has group 30 and total_num is 12133
processing tt0493464 ...
tt0493464 has group 36 and total_num is 12169
processing tt0499549 ...
tt0499549 has group 78 and total_num is 12247
processing tt0758758 ...
tt0758758 has group 58 and total_num is 12305
processing tt0780504 ...
tt0780504 has group 27 and total_num is 12332
processing tt0780571 ...
tt0780571 has group 83 and total_num is 12415
processing tt0790686 ...
tt0790686 has group 53 and total_num is 12468
processing tt0796366 ...
tt0796366 has group 66 and total_num is 12534
processing tt0808151 ...
tt0808151 has group 87 and total_num is 12621
processing tt0815236 ...
tt0815236 has group 94 and total_num is 12715
processing tt0822832 ...
tt0822832 has group 119 and total_num is 12834
processing tt0824747 ...
tt0824747 has group 126 and total_num is 12960
processing tt0848228 ...
tt0848228 has group 118 and total_num is 13078
processing tt0898367 ...
tt0898367 has group 30 and total_num is 13108
processing tt0913425 ...
tt0913425 has group 79 and total_num is 13187
processing tt0945513 ...
tt0945513 has group 74 and total_num is 13261
processing tt0947798 ...
tt0947798 has group 51 and total_num is 13312
processing tt0963794 ...
tt0963794 has group 61 and total_num is 13373
processing tt0964517 ...
tt0964517 has group 96 and total_num is 13469
processing tt0974661 ...
tt0974661 has group 64 and total_num is 13533
processing tt0976051 ...
tt0976051 has group 53 and total_num is 13586
processing tt0985699 ...
tt0985699 has group 53 and total_num is 13639
processing tt0993846 ...
tt0993846 has group 248 and total_num is 13887
processing tt1032755 ...
tt1032755 has group 91 and total_num is 13978
processing tt1037705 ...
tt1037705 has group 45 and total_num is 14023
processing tt1038919 ...
tt1038919 has group 93 and total_num is 14116
processing tt1059786 ...
tt1059786 has group 75 and total_num is 14191
processing tt1068680 ...
tt1068680 has group 84 and total_num is 14275
processing tt1100089 ...
tt1100089 has group 69 and total_num is 14344
processing tt1104001 ...
tt1104001 has group 58 and total_num is 14402
processing tt1119646 ...
tt1119646 has group 121 and total_num is 14523
processing tt1124035 ...
tt1124035 has group 95 and total_num is 14618
processing tt1125849 ...
tt1125849 has group 66 and total_num is 14684
processing tt1182345 ...
tt1182345 has group 58 and total_num is 14742
processing tt1193138 ...
tt1193138 has group 98 and total_num is 14840
processing tt1205489 ...
tt1205489 has group 90 and total_num is 14930
processing tt1210166 ...
tt1210166 has group 114 and total_num is 15044
processing tt1219289 ...
tt1219289 has group 76 and total_num is 15120
processing tt1284575 ...
tt1284575 has group 38 and total_num is 15158
processing tt1291584 ...
tt1291584 has group 121 and total_num is 15279
processing tt1375666 ...
tt1375666 has group 96 and total_num is 15375
processing tt1401152 ...
tt1401152 has group 41 and total_num is 15416
processing tt1403865 ...
tt1403865 has group 88 and total_num is 15504
processing tt1409024 ...
tt1409024 has group 104 and total_num is 15608
processing tt1411238 ...
tt1411238 has group 93 and total_num is 15701
processing tt1412386 ...
tt1412386 has group 107 and total_num is 15808
processing tt1446714 ...
tt1446714 has group 61 and total_num is 15869
processing tt1454029 ...
tt1454029 has group 121 and total_num is 15990
processing tt1591095 ...
tt1591095 has group 42 and total_num is 16032
processing tt1637725 ...
tt1637725 has group 122 and total_num is 16154
processing tt1707386 ...
tt1707386 has group 91 and total_num is 16245
processing tt1800241 ...
tt1800241 has group 159 and total_num is 16404
processing tt1979320 ...
tt1979320 has group 73 and total_num is 16477
processing tt2132285 ...
tt2132285 has group 43 and total_num is 16520
processing tt2140373 ...
tt2140373 has group 121 and total_num is 16641
processing tt2488496 ...
tt2488496 has group 69 and total_num is 16710